h3 {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 40px;
}

.mdl-data-table {
	width: 100%;
	margin: 0 auto;
}

.mdl-data-table th, .mdl-data-table td {
	text-align: center;
}

#sysbtn {
	display: flex;
	justify-content: right;
}

#paging {
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 15px;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
}

.mdl-mega-footer__middle-section {
	display: flex;
	justify-content: center;
}

.add {
	font-size: 30px !important;
}

.material-symbols-outlined:hover {
	background-color: #dcdcdc;
	border-radius: 20px;
}

a {
	color: black;
}

.mdl-list__item-primary-content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.listTile {
	border-radius: 10px;
	box-shadow: 4px 4px 4px #C0c0c0;
	margin-bottom: 20px;
}

.listTile:nth-child(odd) {
	background-color: #dcdcdc;
}

@media screen and (min-width:700px) {
	.listTile {
		display: none;
	}
}

.mdl-layout__drawer-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sysbtn {
	padding-bottom: 10px;
}

li {
	list-style: none;
}

.wd-100 {
	display: flex;
	justify-content: center;
}

.date-range {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mdl-textfield {
	width: 100%;
}

#command {
	display: flex;
	width: 100%;
}

@media screen and (max-width:830px) {
	#command {
		display: flex;
		flex-direction: column;
	}
}

#table_div {
	max-width: 100%;
	max-height: 500px;
	overflow: scroll;
		margin-bottom:100px;
}

#chart_div {
	overflow: auto;
	width: 100%;
	height: 400px;
	overflow: scroll;
	overflow-y: hidden;
	padding-bottom: 40px;
}
/* Let's get this party started */
#table_div::-webkit-scrollbar, #chart_div::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
#table_div::-webkit-scrollbar-track, #chart_div::-webkit-scrollbar-track
	{
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
#chart_div::-webkit-scrollbar-thumb, #table_div::-webkit-scrollbar-thumb
	{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #d3d3d3;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #d3d3d3;
}

.subtitle {
	display: flex;
	flex-direction: column;
}

.subtitle span {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 30px;
	margin-top:50px;
	padding: 10px;
}

.subtitle2 span {
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding-bottom: 60px;

}

h3 {
	font-weight: bold;
}

#circle{
  width : 20px;
  height : 20px;
  border-radius: 50%;
margin-left:25%;
}