.mdl-layout__drawer-button{
	display:flex !important;
	justify-content:center !important;
	align-items:center !important;
}
.mdl-navigation__link{
	display:flex !important;
	justify-content:center !important;
	align-items:center !important;
}