.mdl-layout__drawer-button{
	display:flex !important;
	justify-content:center !important;
	align-items:center !important;
}
.mdl-navigation__link{
	display:flex !important;
	align-items:center !important;
}
.title-link{
	color:white;
	text-decoration:none;
}
#user-name{
	padding:8px 40px 40px;
	font-size:18px;
}