#title{
	font-weight:bold;
	font-size:30px;
	display:flex;
	justify-content:center;
	
	padding-top:80px;
}
#submit{
	display:flex;
	justify-content:center;
	padding-bottom:100px;
}

.mdl-textfield,.w-80{
	width:80% !important;
	max-width:500px !important;
}
#input{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-top:60px;
}
.w-80{
	display:flex;
	justify-content:end;
}
.error-field{
	width:80% !important;
}