.mdl-layout__drawer-button{
	display:flex !important;
	justify-content:center !important;
	align-items:center !important;
}
.mdl-navigation__link{
	display:flex !important;
	align-items:center !important;
}
.title-link{
	color:white;
	text-decoration:none;
}
.title{
	text-align:center;
	font-weight:bold !important;
	font-size:26px !important;
	padding-bottom:60px;
}

#sysbtn{
	padding-top:40px;
}